@import "tailwindcss";

@config "../tailwind.config.js";
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;

  /* Custom */
  margin: 0 10px;
}
