@import "tailwindcss";

@config "../tailwind.config.js";

:root {
  font-size: 100%;
}

@media (max-width: 360px) {
  :root {
    font-size: 87.5%;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;

  /* Custom */
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;

  /* Custom */
  margin: 0 10px;
}

@property --fade-left-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

@property --fade-right-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

/* 両端フェード用のカスタムクラス */
.edge-fade {
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  --fade-left-width: 0px;
  --fade-right-width: 0px;
  transition:
    --fade-left-width 200ms ease,
    --fade-right-width 200ms ease;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    rgba(0, 0, 0, 1) var(--fade-left-width),
    rgba(0, 0, 0, 1) calc(100% - var(--fade-right-width)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0,
    rgba(0, 0, 0, 1) var(--fade-left-width),
    rgba(0, 0, 0, 1) calc(100% - var(--fade-right-width)),
    transparent 100%
  );
}

.edge-fade--both {
  --fade-left-width: 80px;
  --fade-right-width: 80px;
}

.edge-fade--left {
  --fade-left-width: 80px;
  --fade-right-width: 0px;
}

.edge-fade--right {
  --fade-left-width: 0px;
  --fade-right-width: 80px;
}

.edge-fade--none {
  --fade-left-width: 0px;
  --fade-right-width: 0px;
}
