@import "tailwindcss";

@config "../tailwind.config.js";
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;

  /* Custom */
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;

  /* Custom */
  margin: 0 10px;
}

/* 両端フェード用のカスタムクラス */
.fade-edges-x {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0,0,0,0.02) 10px, /* 薄くフェード開始 */
    rgba(0,0,0,0.1) 20px,
    black 60px,             /* 不透明になる位置を調整 */
    black calc(100% - 60px),
    rgba(0,0,0,0.1) calc(100% - 20px),
    rgba(0,0,0,0.02) calc(100% - 10px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(0,0,0,0.02) 10px,
    rgba(0,0,0,0.1) 20px,
    black 60px,
    black calc(100% - 60px),
    rgba(0,0,0,0.1) calc(100% - 20px),
    rgba(0,0,0,0.02) calc(100% - 10px),
    transparent 100%
  );
}
